/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
}

.cabeza {
    text-align: center;
}

li {
    color: rgba(255, 255, 255, 0.473);
}

.title-section {
    background-color: rgba(255, 255, 255, 0.623);
    top: 0;
    left: 0;
    text-align: center;
    position: relative;
}

.menu {
    background-color: rgba(255, 255, 255, 0.616);
    text-align: start;
    position: absolute;
    top: 95px;
    left: 0;
    width: 20%;
    
}

.back-image {
    background-color: rgba(255, 0, 0, 0.397);
    border-radius: 4%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ico-usr1 {
    background-color: rgba(128, 128, 128, 0.795);
    border-radius: 140%;
    width: 80%;
    height: 45px;
}

.search {
    text-align: end;
    margin: 0;
    position: static;
}
