/* Estilos generales */

body{

    margin: 0%;
    padding: 0%;
    height: 100vh;
 
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #030e24, #254fb9); 

}
.cabeza {
    
    margin-left: 0;
    float: left;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.title-section{
    position: fixed;
    top: 7%;
    left: 44%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: black;
}
.chatIframe{
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 20px; 
    margin-left: 0;     
}
.chatIframe{
    width: 100%;
    height:160px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -50%);
    padding: 20xp;
    color: black;
}
#chatIframe{
  width: 300%;
  height: 190px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s, height 0.5s, opacity 0.5s, border-radius 1s;

}
#chatIframe.hidden{
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
}
.backImage{
    border-radius: 200%;
}
li {
    color: hsla(0, 0%, 100%, 0.473);
}

.imgf{
    border-radius: 45%;
   color: #9999CC;
   position: fixed;
   top: 50%;
   left: 3%;
}

.photo-ico{
    width:25px;
}

#imageInput {
        display: none; /* Oculta el input type="file" por defecto */
    }

    .photo-ico {
        cursor: pointer;
        
    }

.menu {
    background-color: rgba(255, 255, 255, 0.616);
    text-align: start;
    position: absolute;
    top: 95px;
    left: 0;
    width: 20%;
    
}

.back-image {
    background-color: rgba(10, 10, 10, 0.397);
    
    width: 200px;
    height: 250px;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.ico-usr1 {
    background-color: rgba(107, 20, 20, 0.459);
    border-radius: 140%;
    width: 80%;
    height: 45px;
}

.search {
    text-align: end;
    margin: 0;
    position: static;
}
